{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1 class="h4 mb-0">سیاست حریم خصوصی</h1>
                </div>
                <div class="card-body">
                    <p>اینجا متن سیاست حریم خصوصی قرار می‌گیرد. می‌توانید موارد مرتبط با حریم خصوصی و اطلاعات تماس را در اینجا قرار دهید</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
