{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1 class="h4 mb-0">ثبت نام</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="نام کاربری">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" class="form-control" placeholder="رمز عبور">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" class="form-control" placeholder="تکرار رمز عبور">
                        </div>
                        <button type="submit" class="btn btn-success btn-block">ثبت نام</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">قبلاً ثبت نام کرده‌اید؟ <a href="{% url 'login' %}">وارد شوید</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
