<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
    {% block title %}<title>Deployed to Liara</title>{% endblock %}
</head>

<body>
    <h1>
        Hooray!
    </h1>

    <canvas id="drawing_canvas"></canvas>

    <script src="{% static 'welcome.js' %}"></script>
</body>

</html>